kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: vcluster-host
networking:
  apiServerAddress: "127.0.0.1"
  apiServerPort: 6443
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/12"
nodes:
- role: control-plane
